.max-width {
  width: 100%;
  max-width: calc(1644px + 3rem);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.text-primary-main{
  color: #A96400;
}





.bg-white{
  background-color: #A96400;
}

.text-white-1{
  color: #DFDFDF;
}

input:checked~.dot {
  transform: translateX(100%);
  /* background-color: #132b50; */
}
