


<!--what we do-->
<div class="hidden sm:block mt-[150px]">
  <div class="flex justify-center gap-4 max-width mt-40">
    <!--        <div class="w-full xl:w-[67.5rem] h-[15rem] md:h-[15rem] lg:h-[26rem] xl:h-[34.9375rem] bg-[#FFDEAD] rounded-[3rem]"></div>-->
    <div class="">
      <img class="w-full h-[20.625rem] lg:h-[25rem] xl:h-[85%] rounded-[3.125rem]" src="https://png.pngtree.com/thumb_back/fh260/background/20211009/pngtree-bg-abstrack-pink-color-image_910529.png" alt="">
    </div>
    <div>
      <!--   start what we do   -->
      <div>
        <h1 class="text-[1rem] lg:text-[1.875rem] xl:text-[2rem] font-bold text-[#A96400] underline  mt-0 xl:mt-[4%]  "> What We Do </h1>
        <p class="max-w-[300px] lg:max-w-[450px] mt-[2%] lg:mt-[5%] text-[0.75rem] lg:text-[1rem] text-white">We believe that high quality is as important as economic efficiency of a product, but it is often very challenging to achieve both. This is exactly where Arad-Building, due to access to the best producers, can solve both needs.  This is exactly where Arad-Building, due to access to the best producers.</p>
      </div>
      <!--   end what we do   -->

      <div class="  h-[12.3125rem] lg:h-[16.3125rem] xl:h-[18.75rem] bg-[#282824F2] rounded-[3rem] md:mt-[3rem]  xl:mt-[4rem] ml-[-130px]  border border-slate-400">
      </div>
    </div>
  </div>
</div>


<div class="block mt-[100px] sm:hidden">
  <div class="flex gap-[0.63rem] justify-center max-width mt-12">
    <div class="">
      <div class="bg-cover">
        <img class="w-[12.0625rem] h-[9.125rem] rounded-[1.25rem]" src="https://s3-alpha-sig.figma.com/img/943e/78b0/ace7d2f5145804fea0f7504a8db285ea?Expires=1705881600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=giDh-xORgrsK5KzddfyeqYLw-yIBDyZlSPKqfBI5Z~9WS-O5zo5MGVyCmF6aMqAUOFLw76bsMg8BLPOweXEWrz4WEaPTBGdOkyMTPFzrgwuDOYbP~wJ3tS-2rR979LcmuFRO03PYxOESYD9QG3DQB~AKI~FN-XwrPMsSctY7K9wcMYV~kg192ZgbKxiAo32xYPVy8Xku8VyufFmmxHZ4TnjEa6oRy15z3-Blk5H0lO26Q1PgqDGc819EWVVpsoBv3JDNWJQsOElu5CHNZAyV0bvVx6dj~VdO8VdIewmFJkjCBT-E8wkxG~IyZZIEvlBd~kQWPMyqwp6NqCtVuE3u4g__" alt="">
      </div>
      <div class="w-[12.0625rem] h-[10.3rem] bg-[#282824F2] rounded-[1.25rem] mt-[0.43rem] border border-slate-600"></div>
    </div>
    <div class="">
      <div>
        <h1 class="text-[1rem] lg:text-[1.875rem] xl:text-[2rem] font-bold text-[#A96400] underline  mt-0 xl:mt-[4%]"> What We Do </h1>
        <p class="text-[0.8125rem] max-w-[300px] text-white">We believe that high quality is as important as economic efficiency of a product, but it is often very challenging to achieve both. This is exactly where Arad-Building, due to access to the best producers, can solve both needs.  This is exactly where Arad-Building, due to access to the best producers.</p>
      </div>
    </div>
  </div>
</div>
<!--what we do-->




