<div class="max-width">
  <!-- this for view all -->
  <div class="flex justify-between  mt-44">
    <div class="flex gap-2 items-center">
      <img class="w-[30px] sm:w-[35px] h-[30px] sm:h-[35px]" src="../../assets/styles/icons/icons8-left-50.png">
      <a class="text-blue-500 text-[1rem] sm:text-[1.2rem]" href="#">View all</a>
    </div>
    <div class="text-right">
      <div class="flex gap-4 items-center">
        <h1 class="text-[1.1rem]  sm:text-[1.5rem]  sm:font-bold text-white">Latest articles</h1>
        <div class="w-[1.2rem] h-[1.2rem] bg-green-500 rounded-[5px]"></div>
      </div>
      <span class="text-slate-400 text-[0.8rem] sm:text-[1.1rem]">All articles are up to date</span>
    </div>
  </div>


  <div class="flex flex-wrap md:flex-nowrap		 justify-center gap-4 mt-24">
    <div class="relative flex flex-col mt-6 text-gray-700 bg-[#FFDEAD] shadow-md  rounded-xl pt-6 md:w-72 lg:w-80 xl:w-96">
      <div class="relative h-[12rem] md:h-[8rem] lg:h-[10rem] xl:h-52 w-[79%] lg:w-[82%] xl:w-[89%] mx-auto -mt-12 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-[#A96400] shadow-blue-gray-500/40">
      </div>
      <div class="p-6">
        <h5 class="block mb-2 font-sans  md:text-md lg:text-lg xl:text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">UI/UX Review Check</h5>
        <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
          The place is close to Barceloneta Beach and bus stop just 2 min by walk
          and near to "Naviglio" where you can enjoy the main night life in
          Barcelona.
        </p>
      </div>
      <div class="p-6 pt-0">
        <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button">
          Read More
        </button>
      </div>
    </div>
    <div class="relative flex flex-col mt-6 text-gray-700 bg-[#FFDEAD] shadow-md  rounded-xl pt-6 md:w-72 lg:w-80 xl:w-96">
      <div class="relative h-[12rem] md:h-[8rem] lg:h-[10rem] xl:h-52 w-[79%] lg:w-[82%] xl:w-[89%] mx-auto -mt-12 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-[#A96400] shadow-blue-gray-500/40">
      </div>
      <div class="p-6">
        <h5 class="block mb-2 font-sans  md:text-md lg:text-lg xl:text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">UI/UX Review Check</h5>
        <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
          The place is close to Barceloneta Beach and bus stop just 2 min by walk
          and near to "Naviglio" where you can enjoy the main night life in
          Barcelona.
        </p>
      </div>
      <div class="p-6 pt-0">
        <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button">
          Read More
        </button>
      </div>
    </div>
    <div class="relative flex flex-col mt-6 text-gray-700 bg-[#FFDEAD] shadow-md  rounded-xl pt-6 md:w-72 lg:w-80 xl:w-96">
      <div class="relative h-[12rem] md:h-[8rem] lg:h-[10rem] xl:h-52 w-[79%] lg:w-[82%] xl:w-[89%] mx-auto -mt-12 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-[#A96400] shadow-blue-gray-500/40">
      </div>
      <div class="p-6">
        <h5 class="block mb-2 font-sans  md:text-md lg:text-lg xl:text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">UI/UX Review Check</h5>
        <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
          The place is close to Barceloneta Beach and bus stop just 2 min by walk
          and near to "Naviglio" where you can enjoy the main night life in
          Barcelona.
        </p>
      </div>
      <div class="p-6 pt-0">
        <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button">
          Read More
        </button>
      </div>
    </div>
    <div class="relative flex flex-col mt-6 text-gray-700 bg-[#FFDEAD] shadow-md  rounded-xl pt-6 md:w-72 lg:w-80 xl:w-96">
      <div class="relative h-[12rem] md:h-[8rem] lg:h-[10rem] xl:h-52 w-[79%] lg:w-[82%] xl:w-[89%] mx-auto -mt-12 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-[#A96400] shadow-blue-gray-500/40">
      </div>
      <div class="p-6">
        <h5 class="block mb-2 font-sans  md:text-md lg:text-lg xl:text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">UI/UX Review Check</h5>
        <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
          The place is close to Barceloneta Beach and bus stop just 2 min by walk
          and near to "Naviglio" where you can enjoy the main night life in
          Barcelona.
        </p>
      </div>
      <div class="p-6 pt-0">
        <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button">
          Read More
        </button>
      </div>
    </div>
  </div>
</div>
